/*worksページのcss*/
.works-contents{
  display:flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.thumbnail{
  width: 20%;
}
.square-frame{
  width: 80%;
  margin-left: 10%;
  padding-bottom: 17%;
}
.square-content{
  display: block;
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: 50%;
  opacity: 0.5;
  transition: 0.5s;
}
.square-content:link{
  opacity: 0.5;
}
.square-content:hover{
  opacity: 1;
}
.article{
  width: 80%;
}