/*worksページのcss*/

.works-contents {
  padding-top: 8rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}
.bottom-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#pagetop-container {
  float: left;
  position: absolute;
}
#pagetop {
  position: relative;
  top: -5rem;
}
.thumbnail {
  width: 20%;
  font-size: 1rem;
  letter-spacing: 1px;
}
.square-frame {
  position: relative;
  width: 100%;
  padding-bottom: 2.5rem;
  opacity: 1;
}
.square-content {
  display: block;
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: 50%;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.thumbnail-media {
  position: absolute;
  white-space: nowrap;
  text-align: left;
  transform-origin: left;

  transform: rotate(90deg);
  left: calc(100% + 0.6rem);
  top: -0.6rem;
  opacity: 1;
  transition: 0.3s;
}
.thumbnail-caption {
  float: right; /*右揃え、高さをなくす*/
  text-align: right; /*右揃え*/
  line-height: 1.2rem;
  width: 100%;
  opacity: 1;
  transition: 0.3s;
}
.square-content:hover,
.square-content:active {
  opacity: 0.55;
}
/*.square-frame:hover .thumbnail-caption,
.square-frame:active .thumbnail-caption {
  opacity: 1;
}
.square-frame:hover .thumbnail-media,
.square-frame:active .thumbnail-media {
  opacity: 1;
}*/
.thumbnail-border {
  border-top: 1px solid rgb(177, 188, 190);
  /*margin-bottom: 1rem;*/
  margin-top: -1.7rem;
  margin-bottom: 1.7rem;
  height: 0;
}
.thumbnail-space {
  height: 8rem;
}

.article-container {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 30%;
}

.photoworks {
  max-width: 100%;
  margin: 0 auto 50px;
  padding: 0;
  height: auto;
}
.photoworks img {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.slideshow {
  max-width: 100%;
  margin: 0 auto 50px;
  padding: 0;
  height: auto;
}
.slideshow img {
  width: 100%;
}

.caption-container {
  overflow: hidden; /*floatに高さを設定する用*/
}
.caption {
  float: right;
  font-family: futura-pt, kozuka-gothic-pro, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}
.caption-title {
  font-family: futura-pt, a-otf-gothic-bbb-pr6n, sans-serif;
  font-size: 2rem;
  font-weight: 500;
}
.caption-space {
  height: 1rem;
}
.article-space {
  height: 10rem;
}
.article-text {
  font-family: "GillSans", a-otf-gothic-bbb-pr6n, sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  margin-bottom: 3rem;
}
.video-container {
  width: 100%;
  padding-top: 15%;
}
.video {
  position: relative;
  height: 0;
  padding: 30px 0 56.25%;
  overflow: hidden;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-caption-container {
  margin-top: -1rem;
  padding-bottom: 5%;
}
.bottom-img {
  width: 70%;
  font-family: futura-pt, sans-serif;
  font-weight: 200;
  font-size: 1rem;
}
.bottom-img img {
  width: 100%;
  padding-top: 20%;
}

@media screen and (min-width: 480px) {
  /*タブレットサイズ以降*/
  .works-contents {
    margin-left: 0;
    margin-right: 0;
  }
  .thumbnail {
    width: 16%;
    min-width: 9rem;
  }
  /*#pagetop {
  }*/
  .square-frame {
    width: calc(100% - 0.6rem);
    padding-left: 0.6rem;
    padding-bottom: 3rem;
  }
  .thumbnail-border {
    width: calc(100% - 0.6rem);
    padding-left: 0.6rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
  .article-container {
    width: 84%;
    margin-left: 8%;
  }
  .article-text {
    max-width: 40rem;
  }
  .bottom-img {
    width: 62%;
    margin-right: 8%;
  }
}
@media screen and (min-width: 896px) {
  /*pcサイズ以降*/
  .thumbnail {
    width: 140px;
  }
  #pagetop {
    top: 5rem;
  }
  .thumbnail-space {
    height: 10rem;
  }
  .square-frame {
    width: calc(100% - 3.7rem);
    padding-left: 3.7rem;
    padding-bottom: 3.5rem;
  }
  /*.thumbnail-caption, .thumbnail-media{
    opacity: 0;
  }*/
  .thumbnail-border {
    width: calc(100% - 3.7rem);
    padding-left: 3.7rem;
    /*margin-bottom: 2.5rem;*/
  }
  .article-text {
    margin-left: 10%;
    width: 80%;
  }
  .caption {
    font-size: 1.5rem;
  }
  .caption-title {
    font-size: 2.5rem;
  }
  .video-caption {
    font-size: 1.5rem;
  }
}
