/*css of Texts page*/
.texts-contents{
  padding-top: 10rem;
  margin-left: 10%;
  margin-right: 10%;
}
.texts-list{
  margin-bottom: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
}
.texts-list a:link,
.texts-list a:visited {
  color: var(--titleblack);
}
.texts-list a:hover,
.texts-list a:active {
  color: var(--titlehoverblue);
}
@media screen and (min-width:480px){/*タブレットサイズ以降*/
  .texts-contents{
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (min-width:896px){/*PCサイズ以降*/

}
