@import url("https://fonts.googleapis.com/css?family=Quicksand");
@font-face {
  font-family: "Osaka";
  src: url(../fonts/Osaka.ttf);
}
@font-face {
  font-family: "Moon";
  src: url(../fonts/MoonLight.otf);
}
@font-face {
  font-family: "AppliMoncho";
  src: url(../fonts/AppliMincho.otf);
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 10px;
  font-family: Quicksand;
  letter-spacing: 2px;
  color: rgb(84, 89, 90);
  background-color: rgb(252, 253, 252);
  font-family: "a-otf-futo-go-b101-pr6n";
}

a{
  text-decoration:none;
}
a:link {
  transition: 0.3s;
  color: rgb(127, 202, 234);
}
a:hover{
  color: rgb(97, 162, 234);
}
a:visited{
  color: rgb(127, 202, 234);
}
.header{
  /*border: double;
  border-color: black;
  background: red;*/
  position:fixed;
  top:0;
  margin-left:2px;
  margin-bottom: 2px;
  height: 25px;
  width: 100%;
  display:flex;
  align-items: flex-end;/*下揃え*/
  background: linear-gradient(
  180deg,
  rgba(252,253,252,1) 0%,
  rgba(252,253,252,0.3) 100%
);
  z-index:1000;
}
#header-title {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-family: futura-pt;
}
.header-list{
  display: flex;
}
.header-list a{
  margin-left: 1.5rem;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: futura-pt;
}


#copyright {
  margin-top: 30rem;
  bottom: 2px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: rgb(180,180,180);
}
.copyright-link:link{
  color: rgb(180,180,180);
}
.copyright-link:hover{
  color: rgb(140,140,140);
}
.copyright-link:visited{
  color: rgb(180,180,180);
}