@import url("https://fonts.googleapis.com/css?family=Quicksand");
@font-face {
  font-family: "Osaka";
  src: url(../fonts/Osaka.ttf);
}
@font-face {
  font-family: "Moon";
  src: url(../fonts/MoonLight.otf);
}
@font-face {
  font-family: "AppliMoncho";
  src: url(../fonts/AppliMincho.otf);
}
.background-img {
  position: relative;
  background-image: url("../img/topView.png");
  height: calc(100% - 1.2rem);
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}