#top_box {
  position: relative;
  width   : 100%;
  height  : 100vh;
}

#top_box img {
  position  : absolute;
  top       : 0;
  left      : 0;
  width     : 100%;
  height    : 100%;
  object-fit: cover;
  text-align: center;
}

#lang_button_wrapper {
  position           : fixed;
  display            : block;
  right              : 1vw;
  top                : 1vw;
  height             : auto;
  width              : auto;
  /* background-color: red; */
  z-index            : 99;
}

#ja_button,
#en_button {
  cursor     : pointer;
  white-space: nowrap;
  font-family: din-2014, "YuGo", sans-serif;
  font-weight: 400;
  font-size  : 2.4rem;
  display    : none;
}

#toptitle {
  position      : absolute;
  bottom        : 17vh;
  text-align    : center;
  width         : 100%;
  font-size     : 8vw;
  letter-spacing: 3.2vw;
  font-family   : "Geneva", sans-serif;
  font-weight   : 400;
  color         : #bdc7c8;
}

#down_arrow {
  width     : 100%;
  height    : 3vh;
  position  : absolute;
  bottom    : 3vh;
  text-align: center;
  display   : block;
}

#down_arrow img {
  display    : block;
  height     : 100%;
  width      : 3.8vh;
  margin-left: calc(50% - 2.5vh);

  /*上下アニメーション*/
  animation-name           : float-arrow;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction      : alternate;
  animation-duration       : 0.75s;
}

@keyframes float-arrow {

  /*矢印アニメーション*/
  0% {
    transform: translate(0, 0px);
  }

  100% {
    transform: translate(0, 15px);
  }
}

.contents_wrapper {
  /* background-color: brown; */
  margin   : 0 auto;
  width    : 94%;
  max-width: 96rem;
}

#top_space {
  height: 10vh;
}

.title1 {
  font-family   : "Geneva", sans-serif;
  font-weight   : 400;
  font-size     : 4rem;
  letter-spacing: 1.6rem;
  margin-bottom : 1rem;
}

.subtitle1 {
  font-family   : din-2014, sans-serif;
  font-weight   : 300;
  font-size     : 3rem;
  letter-spacing: 1.5px;
  color         : var(--textgray);
}

.nullspace {
  height: 4vh;
}

.honbun1 {
  font-family   : 'Times New Roman', Times, "Yumin", serif;
  font-weight   : 500;
  font-size     : 1.8rem;
  line-height   : 2.6rem;
  letter-spacing: 1px;
  transform     : scale(0.95, 1);
  width         : 105%;
  margin-left   : -2.5%;
  text-align    : justify;
  opacity       : .9;
}

.caption1 {
  font-size  : 1.2rem;
  font-weight: 200;
  opacity    : .9;
}

.info_box {
  /* background-color: red; */
  width    : 80%;
  max-width: 50rem;
}

.info_border {
  border-top: 2px solid var(--textgray);
  margin    : 0.5rem 0;
}

.info_set {
  display            : block;
  /* background-color: red; */
  width              : 100%;
  height             : auto;
}

.info_left {
  display: inline-block;
  width  : 23%;
}

.info_right {
  display: inline-block;
  width  : 75%;
}

#play_mac {
  /* background-color: var(--redbutton); */
  border       : 2px solid var(--redbutton);
  margin-bottom: 1.2rem;
}

#play_mac:hover,
#play_mac:active {
  /* background-color: #e48d8d; */
  border-color    : rgba(0, 0, 0, 0);
  box-shadow      : 0.5rem 0.5rem 0.5rem 0.5rem black;
  font-size       : 2.6rem;
  background-color: rgba(255, 122, 122, 0.8);
}

#play_windows {
  /* background-color: var(--bluebutton); */
  border: 2px solid var(--bluebutton);
}

#play_windows:hover,
#play_windows:active {
  /* background-color: #9ebddc; */
  border-color    : rgba(0, 0, 0, 0);
  box-shadow      : 0.5rem 0.5rem 0.5rem 0.5rem black;
  background-color: rgba(85, 210, 255, 0.7);
  font-size       : 2.6rem;
}

.play_button {
  display         : block;
  cursor          : pointer;
  white-space     : nowrap;
  font-family     : din-2014, sans-serif;
  font-weight     : 300;
  font-size       : 2.4rem;
  line-height     : 3rem;
  border-radius   : 2rem;
  padding         : 2.4rem 0rem;
  text-align      : center;
  color           : var(--textwhite);
  /* border       : 2px solid var(--textwhite); */
}

.play_button:visited {
  color: var(--textwhite);
}

.video_container {
  position: relative;
  height  : auto;
  width   : 100%;
}

.video {
  position   : relative;
  height     : 0;
  padding    : 30px 0 56.25%;
  /* overflow: hidden; */
}

.video iframe {
  position: absolute;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
}

.video_caption1 {
  position: absolute;
  top     : -2rem;
  left    : 0;
  width   : 100%;
}

.video_caption2 {
  margin-top : 2rem;
  line-height: 1.7rem;
  text-align : right;
}

.subtitle2 {
  text-align    : center;
  font-family   : "YuMin", serif;
  font-weight   : 500;
  font-size     : 2.8rem;
  letter-spacing: 1px;
  transform     : scale(0.95, 1);
  width         : 105%;
  margin-left   : -2.5%;
  margin-bottom : 4rem;
}

.honbun2 {
  font-family   : 'Times New Roman', Times, "ReiMin", sans-serif;
  font-weight   : 300;
  font-size     : 1.6rem;
  line-height   : 3.2rem;
  letter-spacing: 0.3px;
  transform     : scale(0.95, 1);
  width         : 105%;
  margin-left   : -2.5%;
  text-align    : justify;
  opacity       : .85;
}

.pc_contents {
  display: block;
}

.smartphone_contents {
  display: none;
}

.picture_box1 {
  width              : 100%;
  /* background-color: red; */
  display            : flex;
  justify-content    : space-between;
}

.picture_box_content {
  width              : 49%;
  /* background-color: blue; */
}

.picture_box_content img {
  width: 100%;
}

#bg_white {
  background-color: #dbe3e4;
}

#gradcolor {
  height    : 2rem;
  background: linear-gradient(var(--backgroundnavy), rgba(0, 0, 0, 0));
}

.section_title {
  width              : 100%;
  /* background-color: red; */
  font-family        : acumin-pro, sans-serif;
  color              : var(--textgray);
  font-weight        : 200;
  font-size          : 4rem;
  text-align         : center;
}

.pm_subtitle {
  font-size     : 2.8rem;
  font-family   : din-2014, sans-serif;
  font-weight   : 300;
  letter-spacing: 3px;
  color         : var(--neutralgray);
  margin-bottom : 1rem;
}

.memberbox {
  /* background-color: red; */
  width          : 100%;
  display        : flex;
  justify-content: space-between;
  margin-bottom  : 3rem;
}

.memberbox_img {
  width: 16%;
}

.memberbox_img img {
  width: 100%;
}

.memberbox_content {
  width: 80%;

}

.honbun3 {
  font-size     : 1.6rem;
  letter-spacing: 0.7px;
  font-family   : Helvetica, "YuGo", sans-serif;
  font-weight   : 300;
  color         : var(--textgray);
  line-height   : 2.3rem;
  text-align    : justify;
}

.memberbox_name {
  margin-top   : 0.5rem;
  margin-bottom: 1rem;
}

#text15 {
  margin-top: 4vh;
}

.links {
  line-height: 3rem;
}

.nullspace_short {
  height: 2vh;
}

#gallery {
  width     : 100%;
  margin-top: 2vh;
}

#gallery img {
  width     : 100%;
  margin-top: 2.5vh;
}

.gallery_caption {
  width     : 100%;
  text-align: right;
  color     : var(--textgray);
}

#footer {
  text-align: center;
  padding   : 5rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0), 10%, var(--backgroundnavy));
}

.x_icon {
  text-align   : center;
  margin-top   : 2vh;
  margin-bottom: 2vh;
}

.x_icon img {
  height: 3rem;
  width : 3rem;
}

@media screen and (max-width: 896px) {
  /*タブレット*/
}

@media screen and (max-width: 480px) {
  #lang_button_wrapper {
    top  : 2vw;
    right: 2vw;
  }

  #ja_button,
  #en_button {
    font-family: din-2014, "YuGo", sans-serif;
    font-weight: 400;
    font-size  : 2rem;
    display    : none;
  }

  /*スマホ*/
  #toptitle {
    font-size     : 10vw;
    letter-spacing: 4vw;
  }

  .title1 {
    font-size     : 2.5rem;
    letter-spacing: 1rem;
    margin-bottom : 0.6rem;
  }

  .subtitle1 {
    font-size: 2rem;
  }

  .honbun1 {
    font-size  : 1.4rem;
    line-height: 2.2rem;
  }

  .caption1 {
    font-size     : 1rem;
    letter-spacing: 0.5px;
  }

  .play_button {
    font-size: 2rem;
  }

  .subtitle2 {
    font-size    : 1.8rem;
    margin-bottom: 2rem;
  }

  .honbun2 {
    font-size  : 1.3rem;
    line-height: 2.3rem;
  }

  .pc_contents {
    display: none;
  }

  .smartphone_contents {
    display: block;
  }

  .picture_box_content {
    width              : 100%;
    /* background-color: blue; */
  }

  .memberbox {
    margin-bottom: 1.5rem;
  }

  .memberbox_img {
    width: 20%;
  }

  .memberbox_content {
    width: 76%;
  }

  .section_title {
    text-align: left;
    font-size : 7.4vw;
  }

  .pm_subtitle {
    font-size     : 1.6rem;
    letter-spacing: 1px;
    margin-bottom : 0.3rem;
  }

  .honbun3 {
    font-size     : 1.3rem;
    line-height   : 2rem;
    letter-spacing: 0.4px;
  }

  .memberbox_name {
    margin-top   : 0;
    margin-bottom: 0.5rem;
  }

  .x_icon img {
    height: 3vh;
    width : 3vh;
  }
}